@{
    ViewData["Title"] = "Ntandazo Bovungana";
}

<div class="container text-center">
    <h1 class="flying-text display-4">👋 Hi, I'm Ntandazo Bovungana</h1>
    <p class="flying-text lead mt-3">ICT Graduate | Aspiring Developer | Code Lover</p>

    <div class="mt-4 flying-text">
        <a href="mailto:ntandobovungana@icloud.com" class="btn btn-lively m-2">📧 Email Me</a>
        <a href="https://github.com/Khanya-1419" target="_blank" class="btn btn-lively m-2">💻 GitHub</a>
        <a href="https://www.linkedin.com/in/ntando-bovungana-75632a264" target="_blank" class="btn btn-lively m-2">🔗 LinkedIn</a>
    </div>
</div>

<section class="container mt-5 bg-light p-5 rounded shadow flying-text">
    <h2>About Me</h2>
    <p>
        I am a Durban University of Technology graduate in ICT in Business Analysis.
        I majored in Business Information Systems and Application Development.
        We coded using C# and SQL, worked with databases, and used various Business Analysis tools.
        I also worked in the IT department of a municipality in the West Rand.
        I am passionate about building innovative software and always willing to learn more.
    </p>
</section>
